# A for loop is used to repeat a block of code a specific number of times or to iterate over items in a sequence (like a list, string, tuple, etc.).

In [1]:
# Loop with range
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
# Loop with start and end in range
for i in range(2, 6):
    print(i)

2
3
4
5

In [2]:
# Loop through a list
language = ["Python", "Java", "Html","CSS"]
for L in language:
    print(L)

Python
Java
Html
CSS

In [6]:
# Loop with step
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [4]:
# Loop through characters in a string
for char in "Hello":
    print(char)

H
e
l
l
o

# Example

In [7]:
# Print numbers from 100 to 110.
for i in range(100, 111):
    print(i)

100
101
102
103
104
105
106
107
108
109
110

In [8]:
# Sum of numbers
total = 0
for i in range(1, 51):
    total += i
print(total)

1275

In [9]:
# Count vowels
text = "I love programming"
vowels = "aeiouAEIOU"
count = 0

for ch in text:
    if ch in vowels:
        count += 1

print(count)

6

In [10]:
# Find the maximum number (without max())
numbers = [4, 99, 12, 7, 34]
max_num = numbers[0]

for n in numbers:
    if n > max_num:
        max_num = n

print(max_num)

99

In [11]:
# Multiplication table (5)
for i in range(1, 11):
    print("5 x", i, "=", 5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
# Remove duplicates
items = [1, 2, 2, 3, 4, 4, 5]
unique = []

for item in items:
    if item not in unique:
        unique.append(item)

print(unique)

[1, 2, 3, 4, 5]

In [13]:
# Reverse a string
text = "Hello"
rev = ""

for ch in text:
    rev = ch + rev   # add characters to the front

print(rev)

olleH

In [14]:
# Count even and odd numbers
nums = [12, 45, 66, 23, 90, 11]
even = 0
odd = 0

for n in nums:
    if n % 2 == 0:
        even += 1
    else:
        odd += 1

print("Even:", even)
print("Odd:", odd)

Even: 3
Odd: 3

In [15]:
# Print a triangle
for i in range(1, 5):
    print("*" * i)

*
**
***
****

In [ ]:
# Print a reversed triangle 
for i in range(4,0,-1):
    print("*" * i)

****
***
**
*

In [25]:
# Print a Pyramid
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [26]:
# Inverted Pyramid
rows = 5
for i in range(rows, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

*********
 *******
  *****
   ***
    *

In [27]:
# Hollow Square
n = 5
for i in range(n):
    if i == 0 or i == n-1:
        print("*" * n)
    else:
        print("*" + " " * (n-2) + "*")

*****
*   *
*   *
*   *
*****

#  Weâ€™re done. Good luck to everyone
#              Eng : Asma